    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
    }

    nav {
        height: 130vh; 
        background-color: #343a40;
        color: white;
        
    }

    nav h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .nav-link {
        color: white;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    .nav-link:hover {
        background-color: #495057;
        border-radius: 5px;
        padding: 0.5rem;
    }

    header {
        background-color: #ffffff;
        border-bottom: 2px solid #e9ecef;
        padding: 1rem 0;
    }

    header h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card {
        margin-bottom: 1.5rem;
    }

    .card-header {
        font-size: 1.1rem;
        font-weight: bold;
        background-color: #495057;
        color: white;
        padding: 0.75rem;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .card-body p {
        font-size: 1rem;
    }

    .row {
        margin-bottom: 2rem;
    }

    canvas {
        background-color: white;
        border: 1px solid #ddd;
        padding: 0.5rem;
    }

    button {
        width: 100%;
        padding: 1rem;
        font-size: 1.1rem;
        margin-bottom: 1rem; /* Mayor espacio entre botones */
        border-radius: 5px;
        font-weight: bold;
    }

    button i {
        margin-right: 0.5rem;
    }

    button:hover {
        background-color: #343a40;
        color: white;
    }

    .btn-primary {
        background-color: #495057;
        border-color: #495057;
    }

    .btn-primary:hover {
        background-color: #343a40;
        border-color: #2a2e33;
    }

    .col-buttons {
        margin-top: 2rem; 
    }

    .col-buttons button {
        margin-bottom: 1.5rem; 
    }

    @media (max-width: 768px) {
        .nav {
            display: none;
        }

        header h3 {
            font-size: 1.2rem;
        }

        .card-title {
            font-size: 1.2rem;
        }

        button {
            font-size: 1rem;
        }
    }

    .container{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid #495057;
        border-radius: 5px;
        box-shadow: 0 0 10px #343a40;
        padding-top: 10px;
    }

    p{
        font-size: 1.1rem;
        text-align: justify;
    }

    /* formato de tablas */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    th, td {
        text-align: left;
        padding: 12px;
    }

    .btn-primary {
        background-color: #495057;
        border-color: #495057;
    }

    .btn-primary:hover {
        background-color: #343a40;
        border-color: #2a2e33;
    }

    .btn-outline-primary {
        color: #495057;
        border-color: #495057;
    }

    









